header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.logo {
  height: 30px;
  width: 50%;
}

.under {
  font-weight: bold;
  width: 100%;
  background-color: lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.fa-location-dot {
  margin-right: 15px;
  margin-left: px;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

h1 {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  color: black;
  padding: 0 50px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  color: darkgrey;
  text-align: center;
}

button {
  align-content: center;
  margin-left: 50px;
}

.pink-button {
  color: white;
  font-size: large;
  border: #FF79DA solid 1px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 40px;
  height: 50px;
  width: 70%;
  margin-bottom: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-left: 20px;
  font-weight: bolder;
}

.function .fa-solid {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 30px;
}

.case {
  display: flex;
  width: 90%;
  height: 70px;
  border: solid 1px lightgrey;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.full:hover {
  width: 90%;
  background-color: lightgrey;
}
.full:hover .fa-solid {
  color: #9356DC;
}

ol p {
  position: absolute;
  left: 35px;
  color: white;
}
ol .number {
  top: 444px;
}
ol .number_two {
  top: 535px;
}
ol .number_three {
  top: 630px;
}
ol .circle {
  position: absolute;
  top: 442px;
  left: 29px;
  border-radius: 50%;
  border: #9356DC 1px solid;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
}
ol .circle_two {
  position: absolute;
  top: 534px;
  left: 29px;
  border-radius: 50%;
  border: #9356DC 1px solid;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
}
ol .circle_three {
  position: absolute;
  top: 628px;
  left: 29px;
  border-radius: 50%;
  border: #9356DC 1px solid;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
}
ol li {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}

.global {
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.restaurant {
  margin-bottom: 20px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}

.text {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 10px;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.text .fa-heart {
  font-size: 1.5rem;
}
.text .text-menu {
  margin-bottom: 5px;
  font-weight: bold;
}
.text .text-restaurant {
  margin-top: 5px;
}

.container {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: white;
  position: relative;
}
.container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.container .new {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 8px 12px;
  background-color: #99E2D0;
  color: green;
  border-radius: 5px;
  font-weight: bold;
}

.decalage {
  margin-left: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
}
footer .fa-solid {
  margin-right: 10px;
}
footer p {
  margin-bottom: 5px;
  margin-top: 5px;
}/*# sourceMappingURL=main.css.map */