$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.under{
    font-weight: bold ;
    width: 100%;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
.fa-location-dot{
    margin-right: 15px;
    margin-left: 15px;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}
h1{
    font-size: 1.3em;
    display: flex;
    color: black;
    padding: 0 50px;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    color: darkgrey;
    text-align: center;
}
button{
    align-content: center;
    margin-left: 50px;
}
.hovering:hover{
    filter: brightness(110%);
    box-shadow: 5px 5px 15px rgba(0 0 0 0.5);
}
.pink-button{
    color: white;
    font-size: large;
    border: #FF79DA solid 1px;
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    border-radius: 40px;
    height: 50px;
    width: 70%;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    :hover{
        filter: brightness(120%);
        box-shadow: 5px 5px 15px rgba(0 0 0 0.5);
    }
}
h2{
    margin-left: 20px;
    font-weight:bolder;
}
.function{
    .fa-solid{
        color: rgba(0,0,0,0.6);
        margin-right: 30px;
    }
}
.case{
    display: flex;
    height: 70px;
    border: solid 1px lightgrey;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 15%);
    }
.full:hover{
    background-color: lightgrey;
    .fa-solid{
        color: $primary-color;
    }
}
ol{
    p{
        position: absolute;
        left: 35px;
        color: white;
    }
    .circle{
        position: absolute;
        border-radius: 50%;
        border: $primary-color 1px solid;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
    }
    .circle_two{
        position: absolute;
        border-radius: 50%;
        border: $primary-color 1px solid;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
    }
    .circle_three{
        position: absolute;
        border-radius: 50%;
        border: $primary-color 1px solid;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
    }
    li{
        display: flex;
        align-items: center;
        margin-left: 30px;
        font-weight: bold;
    }
}
.global{
    padding: 30px 20px;
    background-color: rgba(0,0,0,0.1);
}
.restaurant{
    margin-bottom: 20px;
    a{
        text-decoration: none;
        color: black;
    }
}
.text{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 10px;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .fa-heart{
        font-size: 1.5rem;
    }
    .fa-regular:focus{
        display: none;
    }
    .text-menu{
        margin-bottom: 5px;
        font-weight: bold;
    }
    .text-restaurant{
        margin-top: 5px;
    }
}
.purple{
    display: none;
    color: $primary-color;
    position: absolute;
    right: 30px;
    &:hover{
        display: block;
        }
}
.container{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    .new{
        position: absolute;
        right: 15px;
        top: 10px;
        padding: 8px 12px;
        background-color: $tertiary-color;
        color: green;
        border-radius: 5px;
        font-weight: bold;
    }
}
.decalage{
    margin-left: 20px;
}
footer{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 20px;
    h3{
        font-family: 'Shrikhand', sans-serif;
        font-weight: lighter;
    }
    .fa-solid{
        margin-right: 10px;
    }
    p{
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
@media screen and (max-width: 768px){
    header{
        .logo{
            height: 30px;
        }
    }
    ol{
        p{
            left: 35px;
        }
        .number{
            top: 452px;
        }
        .number_two{
            top: 542px;
        }
        .number_three{
            top: 634px;
        }
        .circle{
            top: 450px;
            left: 29px;
        }
        .circle_two{
            top: 540px;
            left: 29px;
        }
        .circle_three{
            top: 632px;
            left: 29px;
        }
    }
}
@media screen and (min-width: 768px){
    .logo{
        height: 100px;
        width: 50%;
    }
    .under{
        font-size: large;
    }
    h1{
        font-size: 1.6rem;
        padding: 0 500px;
    }
    .middle{
        p{
            font-size: 1.4rem;
        }
    }
    button{
        margin-left: 200px;
    }
    .full:hover{
        width: 99%;
    }
    .circle{
        top: 512px;
        left: 30px;
    }
    .number{
        top: 514px;
        left: 36px;
    }
    .circle_two{
        top: 605px;
        left: 30px;
    }
    .number_two{
        top: 606px;
        left: 36px;
    }
    .circle_three{
        top: 694px;
        left: 30px;
    }
    .number_three{
        top: 695px;
        left: 36px;
    }
    ol{
        li{
            margin-left: 600px;
    }
    .case{
        width: 99%;
    }
    }
}