$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

.affichage{
    animation: fadein 1s;
}
.anim{
    animation: fadein 2s;
}
.anim_un{
    animation: fadein 4s;
}
.anim_deux{
    animation: fadein 6s;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size:x-large;
    .fa-regular{
        margin-left: 60px;
    }
}
h1, h3{
    font-family: 'Shrikhand', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    
}
.logo{
    height: 30px;
    width: 50%;
    margin-left: 20%;
}
.image{
    width: 100%;
    height: 200px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.icon{
    margin-left: 20%;
    background: lightgrey;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
        animation: coloring 2000ms;
        background: linear-gradient(to bottom, $secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@keyframes coloring{
    0%{
        background: lightgray;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50%{
        background: $secondary-color;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(to bottom, $secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
h2{
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 3px solid lightblue;
    padding-bottom: 5px;
    width: 40px;
}
.all-text{
    position: relative;
    top: -40px;
    background-color: white;
    padding-left: 20px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
}
.plats{
    margin-bottom: 30px;
}
.choix{
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-right: 0;
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 2000ms;
    /* text-overflow: ellipsis; ... en cas de survol*/
    .name{
        flex-grow: 1;
        margin-top: 5px;
        margin-bottom: 2px;
        p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    
    &:hover{
        .check{
            width: 20%;
        }
        .fa-circle-check{
            transform: rotate(360deg);
        }
    }
    .check{
        width: 0;
        transition: transform 2000ms;
        background-color: $tertiary-color;
        z-index: 100;
        
    }
    .fa-circle-check{
            color: white;
            font-size: x-large;
            transition: transform 2000ms;
            text-align: center;
            display: block;
            padding: 20px;
        }
}

.plate_name{
    margin-top: 5px;
    margin-bottom: 10px;
}
.recette{
    font-size: small;
    margin-top: 0;
    margin-bottom: 2px;
}
.price{
    font-size: small;
    margin-top: 27px;
    display: flex;
    width: 30%;
    transition: transform 2000ms;
    justify-content: end;
    padding-right: 30px;
}
button{
    margin-left: 20%;
    color: white;
    font-size: large;
    border: #FF79DA solid 1px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 40px;
    height: 50px;
    width: 50%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
footer{
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-top: 10px;
    padding: 20px;
    h3{
        font-weight: lighter;
    }
    .fa-solid{
        margin-right: 10px;
    }
    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 769px){
    .logo{
        height: 120px;
    }
    .fa-arrow-left{
        font-size: xx-large;
    }
    h1{
        margin-left: 40%;
        font-size: xx-large;
    }
    button{
        margin-left: 350px;
    }
}
