.affichage{
    animation: fadein 1s;
}
.anim{
    animation: fadein 2s;
}
.anim_un{
    animation: fadein 4s;
}
.anim_deux{
    animation: fadein 6s;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size:x-large;
    .fa-regular{
        margin-left: 60px;
    }
}
h1, h3{
    font-family: 'Shrikhand', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4%;
    
}
.logo{
    height: 30px;
    width: 50%;
    margin-left: 20%;
}
.image{
    width: 100%;
    height: 200px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.icon{
    margin-left: 70px;
    color: lightgray;
    transition: color 2000ms;
    &:hover{
        color: #FF79DA;
    }
}
h2{
    font-size: 1rem;
    font-weight: 100;
    border-bottom: 3px solid lightblue;
    padding-bottom: 5px;
    width: 40px;
}
.all-text{
    position: relative;
    top: -40px;
    background-color: white;
    padding-left: 20px;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
}
.plats{
    margin-bottom: 30px;
}
.choix_deux{
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-right: 0;
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 2000ms;
    /* text-overflow: ellipsis; ... en cas de survol 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    &:hover{
        .check{
            transform: translateX(0);
        }
    }
    .check{
        width: 20%;
        transition: transform 2000ms;
        background-color: red;
        z-index: 100;
        transform: translateX(110%);
    }
}
.choix{
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border: solid 1px lightgray;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    .check{
        height: 100%;
        width: 20%;
        background-color: red;
    }
}
.name{
    margin-top: 5px;
    margin-bottom: 2px;
}
.recette{
    font-size: small;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2px;
}
.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.price{
    font-size: small;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold
}
button{
    margin-left: 20%;
    color: white;
    font-size: large;
    border: #FF79DA solid 1px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 40px;
    height: 50px;
    width: 50%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
footer{
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-top: 10px;
    padding: 20px;
    h3{
        font-weight: lighter;
    }
    .fa-solid{
        margin-right: 10px;
    }
    p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 769px){
    .logo{
        height: 120px;
    }
    .fa-arrow-left{
        font-size: xx-large;
    }
    h1{
        margin-left: 40%;
        font-size: xx-large;
    }
    button{
        margin-left: 350px;
    }
}
